body {

}

.page_wrapper {
    background-image: url('../pictures/Toppbilde-2000x1124.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% calc(50% - 200px);
    padding: 0px 0px 100px 0px;
    width: 100%;
    min-height: 1300px;
    height: auto;
}

header {
    background-color: #2286c3;
    width: 100%;
    height: 60px;
}

footer {
    background-color: #2286c3;
    margin: 60px 0px 0px 0px;
    width: 100%;

    height: 100%;
}


.page_heading {
    font-size: 84px;
    color: white;
    text-align: center;
    margin-top: 1.0%;
    margin-bottom: 1.5%;
}

.route_container {
    position: relative;
    justify-content: center;
    background-color: #2286c3;
    width: 85%;
    height: auto;
    min-height: 675px;
    max-width: 1010px;
    margin: auto;
    border-radius: 20px;
    align-content: center;
    box-shadow: grey 5px 5px 50px -20px;
}

.route_container_separator {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 5% 0px 0px 0px;
    margin: auto;
}

.route_picker{
    margin: 0px 0px 0px 0px;
    min-width: 375px;
    height: 530px;
}
.ticket_form {
    margin: 0px 0px 0px 0px;
    min-width: 375px;
    height: 530px;
}
.route_price_error_wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    width: 80%;
    height: auto;
    margin: auto;
}
.price_error_container {
    margin: 0px 0px 0px 0px;
    min-width: 375px;
    height: auto;
}



.routes_dropdown {
    background-color: #2286c3;
    transition: background-color 400ms;
    height: 50px;
    width: 325px;
    min-width: 150px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    color: white;
}

.routes_dropdown:hover {
    background-color: #006BA6;
    transition: background-color, color, 400ms;

}


.routes_dropdown option {
    background-color: white;
    color: #3B4856;
}

.routes_input{
    width: 325px;

}

.form-separator{
    margin: 0px 0px 14px 0px;
}

.form-separator input {
    box-sizing: border-box;
    height: 50px;
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 0px;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    font-size: 26px;
    color: #3B4856;
}

#date input{
    color: white;
}

#fornavn-label {
    margin-top: 48px;
}

.order-button {
    margin-top: 10px;
    background-color: #05a95a;
    border-color: #2B303A;
}

.form_error {
    color: #5f2020;
}

/* Inverts date picker calendar colour from black to white */
.form-separator input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}


/* Bigger Screen */
@media screen and (max-width: 1440px){

    .ticket_form{
        min-width: 340px;
    }
    .route_picker{
        min-width: 340px;
    }

    .price_error_container {
        min-width: 340px;
    }

    .route_container_separator .route_picker .form-separator .routes_dropdown {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }


    .route_container_separator .route_picker .form-separator .routes_input {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }

    .route_container_separator .ticket_form .form-separator .routes_input {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }

    .order-button{
        font-size: 24px;
        height: 45px;
        width: 300px;
    }
}

/* Normal Screen */
@media screen and (max-width: 1024px){

    .route_picker{
        min-width: 300px;
        margin-right: 12.5px;
    }

    .ticket_form {
        min-width: 300px;
        margin-left: 12.5px;
    }

    .order-button {
        margin-bottom: 6px;

    }
}

/* Tablet/smaller */
@media screen and (max-width: 800px){
    header {
        height: 40px;
    }

    .route_picker {
        margin-left: 0;
        margin: 16px auto 0px auto;
        padding-right: 0px;
    }
    .ticket_form{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }

    .route_container_separator {
        flex-direction: column;
        width: 100%;
    }

    #fornavn-label{
        margin-top: 0px;
    }

}

@media screen and (max-width: 425px) {
    header {
        height: 30px;
    }

    .page_heading{
        font-size: 64px;
    }

    .route_container{
        width: 100%;
    }

    .form-separator{
        margin: 0px 0px 10px 0px;
    }

}

@media screen and (max-width: 320px) {
}