body {
}

header {
    background-color: #2286c3;
    width: 100%;
    height: 80px;
}

.page_heading {
    font-size: 84px;
    color: #2286c3;
    text-align: center;
    margin-top: 3.5%;
}

.route_container {
    position: relative;
    background-color: #2286c3;
    width: 85%;
    height: auto;
    min-height: 650px;
    margin: auto;
    margin-top: 3.5%;
    border-radius: 2px;
    align-content: center;
}

.route_container_separator {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 5% 0px 0px 0px;
    margin: auto;
}

.route_picker{
    margin: 0px 0px 0px 20px;
}
.ticket_form {
    margin: 0px 0px 0px 5%;
    
}


.routes_dropdown {
    background-color: #2286c3;
    transition: background-color 400ms;
    height: 50px;
    width: 325px;
    min-width: 150px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    color: white;
    margin: 0px 10px 0px 0px;
}

.routes_dropdown:hover {
    background-color: #006BA6;
    transition: background-color, color, 400ms;

}


.routes_dropdown option {
    background-color: white;
    color: #3B4856;
}

.routes_input{
    width: 325px;

}


.form-separator{
    margin: 0px 10px 14px 0px;
}

.form-separator input {
    box-sizing: border-box;
    height: 50px;
    padding: 0px 3px 0px 3px;
    margin: 0px 10px 0px 0px;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    font-size: 26px;
}

/* Inverts date picker calendar colour from black to white */
.form-separator input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}


/* Bigger Screen */
@media screen and (max-width: 1440px){
    .route_container_separator .route_picker .form-separator .routes_dropdown {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }


    .route_container_separator .route_picker .form-separator .routes_input {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }

    .route_container_separator .ticket_form .form-separator .routes_input {
        font-size: 24px;
        height: 45px;
        width: 300px;
    }
}

/* Normal Screen *//*
@media screen and (max-width: 1024px){

    .route_picker{

    }

    .ticket_form {
        margin: 0px 0px 0px 20px;
    }

    .route_container_separator {
        flex-direction: column;
    }
}

/* Tablet/smaller */
@media screen and (max-width: 768px){

    .route_picker {
        margin-top: 20px;
    }
    .route_container_separator {
        flex-direction: column;
    }

}